html,
body {
    padding: 0;
    line-height: 1.5em;
    background-color: rgba(242, 242, 242, 1);
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-family: 'Droid Sans', sans-serif;
    /*font-family: 'Sorts Mill Goudy', serif;*/
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.site-content {
    flex-shrink: 1;
}

.search-no-hits-block {
    padding: 30px 0 0 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-no-hits {
    text-align: center;
    font-size: 16px;
    color: darkred;
}

.frontpage-block {
    padding: 100px 0 0 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frontpage-image {
    width: 80vw;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
}

.header {
    display: inline-flex;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:visited, a:active, a:hover {
    color: #609;
}

.row-head {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(57, 85, 122);
    border-bottom: 1px solid #e5e5e5;
}

.row {
    display: flex;
    width: 100vw;
}

.column {
    display: inline-flex;
    width: 100vw;
    flex-direction: column;
}

.header-left {
    width: 85px;
}

.header-right {
    width: 90%;
    text-align: right;
    margin: 0 10px 0 0;
    color: white;
}

h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: calc(14px * 2.5);
}

h3 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    text-align: left;
    padding: 5px 0 0 10px;
    margin: 5px;
}

a:hover {

}

.form-center {
    padding: 40px 0 0 0;
}

input[type="text"].header {
    font-size: 18px;
    border-radius: 1px;
    border: 1px solid rgba(57, 85, 122, 0.5);
    padding: 6px;
    margin: 5px 5px 0 10px;
    max-width: 70%;
    min-width: 150px;
}

input[type="button"].header {
    font-size: 18px;
    border-radius: 1px;
    border: 1px solid rgba(57, 85, 122, 0.5);
    padding: 6px;
    margin: 5px 0 0 0;
    max-width: 30%;
    min-width: 60px;
    background-color: white;
}

.form-center input {
    box-shadow: none;
    padding: 8px;
}

ul#hits {
    list-style: none;
    text-align: left;
    line-height: 22px;
    display: flex;
    width: 100%;
    padding: 0 10px 0 10px;
    flex-direction: column;
}

ul#hits li {
    margin: 10px 0 10px 0;
    padding: 10px;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

ul#hits li a:nth-child(1) {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
}

ul.pages li a {
    font-size: 16px;
    border: 1px solid burlywood;
    background: burlywood;
    padding: 10px;
    margin: 0 10px 0 0;
}

ul.pages li a.nolink {
    color: black;
    background: white;
}

ul.pages {
    list-style-type: none;
    padding: 0 10px 20px;
    text-align: center;
}

ul.pages li {
    display: inline-block;
    padding: 5px;
}

.logo {
    width: 166px;
    height: 41px;
    padding: 6px 0 0 8px;
}

footer {
    color: #777;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    padding: 30px 0 0 0;
}

ul.suggest {
    list-style: none;
    margin: 0;
    padding: 2px 10px;
    width: 74%;
}

ul.suggest li {
    padding: 5px;
    margin: 1px 0 0 0;
    background: white;
    border: 1px solid rgba(57, 85, 122, 0.5);
    font-size: 14px;
}

ul.suggest li.item:hover {
    background: rgba(57, 85, 122, 0.5);
    border: 1px solid white;
}

ul.suggest li.active {
    background: rgba(57, 85, 122, 0.5);
    border: 1px solid white;
}

.form-center{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

.bi-input {
    position: relative;
    width: auto;
}

.hidden {
    opacity: 0;
}

.suggest {
    background: transparent;
    position: absolute;
    width: 100%;
    top: 2px;
    left: 0;
    padding: 5px 0 4px;
    font-size: 18px;
    border-radius: 1px;
    border: 1px solid rgba(57, 85, 122, 0.5);
}

.prediction {
    background: white;
    position: absolute;
    width: 100%;
    top: 2px;
    left: 0;
    color: #aaa;
    padding: 5px 0 4px;
    font-size: 18px;
    border-radius: 1px;
    border: 1px solid rgba(57, 85, 122, 0.5);
}

img{
    border: none;
}

.prediction-arrow{
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    right: -15px;
    top: 8px;
    padding: 0;
    font-size: 0;
}

@media screen and (max-width: 768px) {
    .header-left {
        padding-top: 5px;
    }

    .frontpage-block {
        padding: 40px 0 0 0;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
        padding: 2px 0 0 10px;
    }

    .row {
        width: 98vw;
    }

    .header-right {
        padding-top: 8px;
    }

    input[type="button"] {
        font-size: 14px;
    }

    ul#hits {
        padding: 0 5px 0 10px;
    }

    ul.pages li {
        display: inline-block;
    }

    ul.pages li a {
        font-size: 20px;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
